body{
    background: #457fca;
}
.blok{
    width: 100vw;
    height: 20vh;
    background-color: white;
}
h1{
    color: black;
    font-family: 'Secular One', sans-serif;;
    position: absolute;
    line-height: 3.5;
    left: 3%;
    font-size: 32px;
}
a{
    text-decoration: none;
    color: black;
    position: absolute;
    left:3.5%;
    line-height: 2.2;
    font-size: 16px;
    transition: 0.5s ease;
}
a:hover{
    transform: scale(1.1);
}
.two{
    color: black; 
    text-decoration: none;
    position: absolute;
    line-height: 2.2;
    left:14%
}
@media screen and (max-width:750px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:24%;
     } 
}


*{
    margin: 0%;
    padding: 0%;
}
