body{
    background: #457fca;
}
.blok{
    width: 100vw;
    height: 20vh;
    background-color: white;
}
h1{
    color: black;
    font-family: 'Secular One', sans-serif;;
    position: absolute;
    line-height: 3.5;
    left: 3%;
    font-size: 32px;
}
a{
    text-decoration: none;
    color: black;
    position: absolute;
    left:3.5%;
    line-height: 2.2;
    font-size: 16px;
    transition: 0.5s ease;
}
a:hover{
    transform: scale(1.1);
}
.two{
    color: black; 
    text-decoration: none;
    position: absolute;
    line-height: 2.2;
    left:14%
}
@media screen and (max-width:750px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:24%;
     } 
}
@media screen and (max-width:650px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:27.5%;
     } 
}
@media screen and (max-width:550px){
    a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:3.5%;
        line-height: 2.2;
        font-size: 15.5px;
        transition: 0.5s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
    .two{
       color: black; 
       text-decoration: none;
       position: absolute;
       line-height: 2.2;
       left:14%;
    }
}
@media screen and (max-width:550px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:31%;
     } 
}
@media screen and (max-width:550px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 3.5;
        left: 3%;
        font-size: 31px;
    }
}
@media screen and (max-width:500px){
    a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:3.5%;
        line-height: 2.2;
        font-size: 15.5px;
        transition: 0.5s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
    .two{
       color: black; 
       text-decoration: none;
       position: absolute;
       line-height: 2.2;
       left:14%;
    }
}
@media screen and (max-width:500px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:31%;
    } 
    }
@media screen and (max-width:500px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 3.8;
        left: 3%;
        font-size: 30px;
    }
    }
@media screen and (max-width:450px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 3.9;
        left: 3%;
        font-size: 29px;
    }
    }
@media screen and (max-width:450px){
    a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:3.5%;
        line-height: 2.2;
        font-size: 15px;
        transition: 0.5s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:14%;
    }
    }
@media screen and (max-width:450px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:34.5%;
    } 
    }
@media screen and (max-width:430px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.1;
        left: 3%;
        font-size: 28px;
    }
    }
@media screen and (max-width:430px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:36%;
    } 
    }
@media screen and (max-width:420px){
    a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:3.5%;
        line-height: 2.2;
        font-size: 15px;
        transition: 0.5s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:14%;
    }
    }
@media screen and (max-width:420px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:36%;
    } 
    }
@media screen and (max-width:420px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.1;
        left: 3%;
        font-size: 27.5px;
}
}
@media screen and (max-width:412px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:37.5%;
   } 
   }
@media screen and (max-width:412px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.1;
        left: 3%;
        font-size: 27px;
   }
   }
@media screen and (max-width:400px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.45;
        left: 3%;
        font-size: 25.5px;
   }
   }
@media screen and (max-width:384px){
    h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 6;
        left: 3%;
        font-size: 25.5px;
   }
   } 
@media screen and (max-width:400px){
    a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:4.5%;
        line-height: 2.2;
        font-size: 14.5px;
        transition: 0.5s ease;
    }
    a:hover{
    transform: scale(1.1);
    }
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:14%;
    }
    }
@media screen and (max-width:400px){
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:40.5%;
    } 
    }
@media screen and (max-width:380px){
        a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:4.65%;
        line-height: 2.4;
        font-size: 14.3px;
        transition: 0.5s ease;
    }
    a:hover{
        transform: scale(1.1);
    }
    .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.2;
        left:14%;
    }
    }
@media screen and (max-width:380px){
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.4;
        left:41.3%;
    } 
    }
@media screen and (max-width:350px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 5.1;
        left: 3%;
        font-size: 25.3px;
    }
    } 
@media screen and (max-width:350px){
        a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:4.75%;
        line-height: 2.65;
        font-size: 14.2px;
        transition: 0.5s ease;
    }
    a:hover{
            transform: scale(1.1);
    }
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.4;
        left:41.3%;
    }
    }
@media screen and (max-width:350px){
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.65;
        left:43.8%;
    } 
    }
@media screen and (max-width:330px){
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.65;
        left:43.5%;
    } 
    }
@media screen and (max-width:300px){
        a{
        text-decoration: none;
        color: black;
        position: absolute;
        left:4.95%;
        line-height: 2.75;
        font-size: 13.5px;
        transition: 0.5s ease;
    }
        a:hover{
        transform: scale(1.1);
    }
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.4;
            left:41.3%;
    }
    }
@media screen and (max-width:320px){
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.65;
        left:44.5%;
    } 
    }
@media screen and (max-width:300px){
        .two{
        color: black; 
        text-decoration: none;
        position: absolute;
        line-height: 2.75;
        left:43.5%;
    } 
    }
@media screen and (max-width:320px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.7;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:316px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.7;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:310px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.7;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:305px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.75;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:304px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.78;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:302px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.8;
        left: 3%;
        font-size: 24.8px;
    }
    }
@media screen and (max-width:300px){
        h1{
        color: black;
        font-family: 'Secular One', sans-serif;;
        position: absolute;
        line-height: 4.8;
        left: 3%;
        font-size: 24.8px;
    }
}
.cloud{
    font-size: 25px;
    position: absolute;
    left: 3%;
    line-height: 3;
    font-family: 'Permanent Marker', cursive;
}
.name{
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    position: absolute;
    line-height: 3;
    left: 3%;
    color: white;
 }
 @media screen and (max-width:750px) {
    .cloud{
        font-size: 25px;
        position: absolute;
        left: 3%;
        line-height: 3;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:750px) {
    .name{
        text-decoration: underline;
        font-size: 30px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 3;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:650px) {
    .cloud{
        font-size: 24.5px;
        position: absolute;
        left: 3%;
        line-height: 3;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:650px) {
    .name{
        text-decoration: underline;
        font-size: 29.5px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 3;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:550px) {
    .cloud{
        font-size: 23.5px;
        position: absolute;
        left: 3%;
        line-height: 3;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:550px) {
    .name{
        text-decoration: underline;
        font-size: 28.5px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2.9;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:500px) {
    .cloud{
        font-size: 22px;
        position: absolute;
        left: 3%;
        line-height: 3;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:500px) {
    .name{
        text-decoration: underline;
        font-size: 27px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2.8;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:450px) {
    .cloud{
        font-size: 21px;
        position: absolute;
        left: 3%;
        line-height: 3;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:450px) {
    .name{
        text-decoration: underline;
        font-size: 25px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2.7;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:430px) {
    .cloud{
        font-size:20px;
        position: absolute;
        left: 3%;
        line-height: 2.8;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:430px) {
    .name{
        text-decoration: underline;
        font-size: 24px;
    
        position: absolute;
        line-height: 2.5;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:420px) {
    .cloud{
        font-size:19.5px;
        position: absolute;
        left: 3%;
        line-height: 2.8;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:420px) {
    .name{
        text-decoration: underline;
        font-size: 23px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2.2;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:412px) {
    .cloud{
        font-size:19.2px;
        position: absolute;
        left: 3%;
        line-height: 2.8;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:412px) {
    .name{
        text-decoration: underline;
        font-size: 22.7px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2.1;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:400px) {
    .cloud{
        font-size:18.9px;
        position: absolute;
        left: 3%;
        line-height: 2.8;
        font-family: 'Permanent Marker', cursive;
    }
 }
 @media screen and (max-width:400px) {
    .name{
        text-decoration: underline;
        font-size: 22.4px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 2;
        left: 3%;
        color: white;
     }
 }
 @media screen and (max-width:384px) {
    .cloud{
        font-size:18.6px;
        position: absolute;
        left: 3%;
        line-height: 2.7;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:384px) {
    .name{
        text-decoration: underline;
        font-size: 22.1px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.9;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:380px) {
    .cloud{
        font-size:18.3px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:380px) {
    .name{
        text-decoration: underline;
        font-size: 21.8px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.8;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:350px) {
    .cloud{
        font-size:17.5px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:350px) {
    .name{
        text-decoration: underline;
        font-size: 20.5px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.8;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:330px) {
    .cloud{
        font-size:17px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:330px) {
    .name{
        text-decoration: underline;
        font-size: 19.5px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.8;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:320px) {
    .cloud{
        font-size:16.5px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:320px) {
    .name{
        text-decoration: underline;
        font-size: 19px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.7;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:310px) {
    .cloud{
        font-size:16px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:310px) {
    .name{
        text-decoration: underline;
        font-size: 18px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.7;
        left: 3%;
        color: white;
    }
}
@media screen and (max-width:300px) {
    .cloud{
        font-size:16px;
        position: absolute;
        left: 3%;
        line-height: 2.6;
        font-family: 'Permanent Marker', cursive;
    }
}
@media screen and (max-width:300px) {
    .name{
        text-decoration: underline;
        font-size: 18px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        line-height: 1.7;
        left: 3%;
        color: white;
    }
} 
*{
    margin: 0%;
    padding: 0%;
}
